body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
  background-image: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/lularobs/phpwFtJXZ.png);
  background-size: cover;
  background-position-x: left;
}
body, a:link, a:visited, a:active{
  color: rgb(58, 145, 80);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #ffe9d3;
}
.title{
  background-color: #ffe9d3;
}
.Dancer{
  color: #995e12;
  position:absolute;
}
.Bishop {
  color: #b1b0b2;
  border-radius: 5px;
  position: absolute;
}
.Knight {
  color: #1d0c0c;
  border-radius: 12px;
  position: absolute;
  font-weight: 100;
}
.Pawn{
  color: #b1b0b2;
  position: absolute;
}
.Queen{
  color: #1d0c0c;
  position: absolute;
}
.King{
  color: #b1b0b2;
  position: absolute;
}
.Rook{
  color: #1d0c0c;
  position: absolute;
}

.Rook:hover{
  color: rgb(174, 205, 73);
}
.Bishop:hover {
  color: rgb(43, 211, 226)
}

.Knight:hover {
  color: rgb(226, 43, 153)
}

.Pawn:hover {
  color: rgb(226, 83, 43)
}

.Queen:hover {
  color: rgb(35, 12, 184)
}

.King:hover {
  color: blueviolet
}